/* 
/// Regular font family
/// @type List
$text-font-stack: 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;

/// Code (monospace) font family
/// @type List
$code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;





/// Copy text color
/// @type Color
$text-color: rgb(34, 34, 34) !default;

/// Main brand color
/// @type Color
$brand-color: rgb(229, 0, 80) !default;

/// Light grey
/// @type Color
$light-grey: rgb(237, 237, 237) !default;

/// Medium grey
/// @type Color
$mid-grey: rgb(153, 153, 153) !default;

/// Dark grey
/// @type Color
$dark-grey: rgb(68, 68, 68) !default;





/// Container's maximum width
/// @type Length
$max-width: 1180px !default;





/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  'small': 320px,
  'medium': 768px,
  'large': 1024px,
) !default;






/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '/assets/' !default;
 */
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 50%; } }

body {
  box-sizing: border-box;
  background-color: #FFFFFF;
  margin: 4rem auto;
  width: 90%;
  max-width: 145rem;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 2fr 2fr 1fr 1fr 2fr;
  gap: 2vw;
  align-content: start;
  /* @media only screen and (max-width: $bp-largest) {
        margin: 0;
        max-width: 100%;
        width: 100%;
    } */
  /* background-image: linear-gradient(
        to right bottom,
        rgba($color-grey, 0.8),
        rgba($color-dark, 0.8)),
    url(../img/background-image-jung-letter.jpg);
    background-size: cover;
    background-repeat: no-repeat; */ }

img {
  margin: 0;
  border-width: 0;
  max-width: 100%;
  vertical-align: top; }

/**
 * Basic styles for links
 */
a:link,
a:visited {
  color: #E23B30;
  text-decoration: none;
  font-weight: 700; }

a:hover,
a:active {
  color: #E23B30;
  text-decoration: underline;
  font-weight: 700; }

/**
 * Helper classes for margin
 */
.mt-sm {
  margin-top: 2rem; }

.mt-md {
  margin-top: 3rem; }

.mt-lg {
  margin-top: 4rem; }

.mt-hg {
  margin-top: 8rem; }

.mb-sm {
  margin-bottom: 2rem; }

.mb-md {
  margin-bottom: 3rem; }

.mb-lg {
  margin-bottom: 4rem; }

.mb-hg {
  margin-bottom: 8rem; }

/**
 * Clear inner floats
 */
.clearfix::after {
  clear: both;
  content: '';
  display: table; }

/**
 * Main content containers
 * 1. Make the container full-width with a maximum width
 * 2. Center it in the viewport
 * 3. Leave some space on the edges, especially valuable on small screens
 */
/* .container {
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
 } */
/**
 * Hide text while making it readable for screen readers
 * 1. Needed in WebKit-based browsers because of an implementation bug;
 *    See: https://code.google.com/p/chromium/issues/detail?id=457146
 */
.hide-text {
  overflow: hidden;
  padding: 0;
  /* 1 */
  text-indent: 101%;
  white-space: nowrap; }

/**
 * Hide element while making it readable for screen readers
 * Shamelessly borrowed from HTML5Boilerplate:
 * https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css#L119-L133
 */
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/**
 * Basic typography style for copy text
 */
body {
  color: #3E4147;
  font-family: "Nunito", sans-serif;
  font-feature-settings: "liga" 1, "onum" 1;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.6; }

.heading-1, .heading-2, .heading-3, .heading-4 {
  color: #3E4147;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 1.2; }

.heading-1 {
  font-size: 5rem;
  margin-top: -1rem;
  margin-bottom: 0; }

.heading-2 {
  font-size: 4rem;
  margin-bottom: 2.4rem; }
  .heading-2--light {
    color: #f9f7f6; }
  .heading-2--darkt {
    color: #54483A; }

.heading-3 {
  font-size: 3rem;
  margin-bottom: 2.4rem; }

.heading-4 {
  font-size: 1.9rem; }
  .heading-4--light {
    color: #f9f7f6; }
  .heading-4--darkt {
    color: #54483A; }

/* Span */
.igap-red {
  color: #E23B30; }

figcaption {
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  font-weight: 700; }

/* Border */
hr {
  clear: both;
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  border-bottom: 2px solid #EAECEF; }

header {
  display: contents; }

.banner__logo {
  grid-column: 1;
  grid-row: 1; }

.banner__contact {
  grid-column: 9;
  grid-row: 1;
  font-family: "Roboto", sans-serif;
  font-size: 2.8rem;
  text-align: right;
  color: #3E4147; }
  .banner__contact a:link,
  .banner__contact a:visited {
    color: #3E4147; }
  .banner__contact a:hover,
  .banner__contact a:active {
    color: #E23B30;
    text-decoration: none; }

hr.nav-line {
  position: absolute;
  top: 0;
  right: -2px;
  height: 30px;
  width: 5px;
  background: #E23B30;
  padding: 0;
  border: none;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  display: block; }

.menu-container {
  grid-column: 1 / 2;
  grid-row: 2 / 4;
  padding: 2rem 0;
  border-right: 3px solid #EAECEF; }

.menu-container ul {
  position: relative; }

.menu__item {
  line-height: 1.2; }

nav {
  position: relative; }

.nav .menu {
  display: block; }

.nav .show-menu {
  display: none;
  margin-bottom: 10px;
  padding: 1.2rem 0; }

.nav input[type="checkbox"] {
  -webkit-appearance: none;
  display: none; }

.nav input[type="checkbox"] {
  background-color: initial;
  cursor: default;
  margin: 3px 0.5ex;
  padding: initial;
  border: initial; }

[role="navigation"] ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  column-count: 1; }

[role="navigation"] li {
  margin-bottom: 1.8rem;
  text-align: right; }

[role="navigation"] .active {
  display: block;
  border: none !important;
  position: relative;
  transform: translateX(2px);
  color: #E23B30; }

[role="navigation"] a {
  margin: 0 .75rem 0 0;
  padding: .75rem 1.476rem .75rem .75rem;
  font-size: 1.3rem;
  font-weight: 900;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-decoration: none;
  color: #3E4147;
  transition: color 0.3s ease-in-out;
  box-decoration-break: clone; }

[role="navigation"] a:hover {
  color: #E23B30; }

.footer {
  grid-column: 1 / -1;
  grid-row: 12;
  margin-top: 6.4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2vw;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.8), rgba(226, 124, 48, 0.8)), url("../img/background-image-jung-letter.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 6rem 4rem; }
  .footer--item {
    background-color: #FFFFFF;
    opacity: 0.7;
    padding: 1rem;
    font-weight: 700; }
    .footer--item p {
      text-indent: 0rem; }
  .footer---left {
    grid-column: 1; }
  .footer---center {
    grid-column: 2; }
  .footer---right {
    grid-column: 3; }

a.btn--learn-more {
  color: #3E4147;
  cursor: pointer;
  background-color: #FFFFFF;
  border: 2px solid #3E4147;
  border-radius: 0;
  display: block;
  font-family: "Roboto", sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
  padding: 1rem 2rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: all .2s;
  width: 18rem; }
  a.btn--learn-more:hover {
    background-color: #E23B30;
    color: #FFFFFF;
    border: 1px solid #E23B30; }

main {
  grid-row: 5; }

h1,
h1 + p,
main {
  grid-column: 4 / 8; }

h1 {
  grid-row: 2; }

h1 + p {
  grid-row: 3;
  font-size: 2rem;
  font-weight: 700; }

main p:first-of-type::first-line {
  font-weight: 700; }

p + p {
  text-indent: 2rem; }

.images-red-book {
  grid-column: 2 / -1;
  grid-row: 4;
  margin-top: 2.4rem;
  margin-bottom: 2.4rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr auto; }

.irb1 {
  grid-column: 1;
  grid-row: 1; }

.irb2 {
  grid-column: 2;
  grid-row: 1; }

.irb3 {
  grid-column: 3;
  grid-row: 1; }

.irb4 {
  grid-column: 4;
  grid-row: 1; }

.irb {
  grid-column: 1 / -1;
  grid-row: 2;
  margin-top: 1.2rem; }

.seminars {
  grid-column: 3 / 5;
  grid-row: 6;
  margin-top: 2.4rem;
  margin-bottom: 2.4rem; }

.analytic-training {
  grid-column: 5 / 7;
  grid-row: 6;
  margin-top: 2.4rem;
  margin-bottom: 2.4rem; }

.finding-analyst {
  grid-column: 7 / -1;
  grid-row: 6;
  margin-top: 2.4rem;
  margin-bottom: 2.4rem; }

.line-after-6 {
  grid-column: 3 / -1;
  grid-row: 7; }

.breaking-news {
  grid-column: 1 / 2;
  grid-row: 8 / 12;
  align-self: end; }

.video-jung {
  display: contents; }
  .video-jung__lede {
    grid-column: 4 / 6;
    grid-row: 8; }
  .video-jung__file-1 {
    grid-column: 4 / 8;
    grid-row: 9;
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%; }
    .video-jung__file-1 iframe {
      position: absolute;
      width: 100%;
      height: 100%; }
  .video-jung__file-2 {
    grid-column: 4 / 8;
    grid-row: 10;
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%; }
    .video-jung__file-2 iframe {
      position: absolute;
      width: 100%;
      height: 100%; }

.line-after-video {
  grid-column: 4 / 8;
  grid-row: 11; }
