/* 
/// Regular font family
/// @type List
$text-font-stack: 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;

/// Code (monospace) font family
/// @type List
$code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;





/// Copy text color
/// @type Color
$text-color: rgb(34, 34, 34) !default;

/// Main brand color
/// @type Color
$brand-color: rgb(229, 0, 80) !default;

/// Light grey
/// @type Color
$light-grey: rgb(237, 237, 237) !default;

/// Medium grey
/// @type Color
$mid-grey: rgb(153, 153, 153) !default;

/// Dark grey
/// @type Color
$dark-grey: rgb(68, 68, 68) !default;





/// Container's maximum width
/// @type Length
$max-width: 1180px !default;





/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  'small': 320px,
  'medium': 768px,
  'large': 1024px,
) !default;






/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '/assets/' !default;
 */
/*
0-600px:    Phone
600-900px:  Tablet portrait
900-1200px: Tablet landscape
[1200-1800] is where our normal styles apply
1800px +:   Big desktop

&breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > > page layout > components

1em = 16px
*/
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 62.5em) {
    html {
      font-size: 55%; } }

body {
  box-sizing: border-box;
  background-color: #FFFFFF;
  margin: 4rem auto;
  width: 90%;
  max-width: 145rem;
  /* @media only screen and (max-width: $bp-largest) {
        margin: 0;
        max-width: 100%;
        width: 100%;
    } */
  /* background-image: linear-gradient(
        to right bottom,
        rgba($color-grey, 0.8),
        rgba($color-dark, 0.8)),
    url(../img/background-image-jung-letter.jpg);
    background-size: cover;
    background-repeat: no-repeat; */ }
  @media screen and (min-width: 50em) {
    body {
      display: grid;
      grid-template-columns: 2fr 1fr 1fr 2fr 2fr 1fr 1fr 2fr;
      gap: 2vw;
      align-content: start; } }

img {
  margin: 0;
  border-width: 0;
  max-width: 100%;
  vertical-align: top; }

/**
 * Basic styles for links
 */
a:link,
a:visited {
  color: #E23B30;
  text-decoration: none;
  font-weight: 700; }

a:hover,
a:active {
  color: #E23B30;
  text-decoration: underline;
  font-weight: 700; }

/**
 * Helper classes for margin
 */
.mt-sm {
  margin-top: 1.8rem; }

.mt-md {
  margin-top: 3rem; }

.mt-lg {
  margin-top: 4rem; }

.mt-hg {
  margin-top: 8rem; }

.mb-sm {
  margin-bottom: 2rem; }

.mb-md {
  margin-bottom: 3rem; }

.mb-lg {
  margin-bottom: 4rem; }

.mb-hg {
  margin-bottom: 8rem; }

/**
 * Clear inner floats
 */
.clearfix::after {
  clear: both;
  content: '';
  display: table; }

/**
 * Main content containers
 * 1. Make the container full-width with a maximum width
 * 2. Center it in the viewport
 * 3. Leave some space on the edges, especially valuable on small screens
 */
/* .container {
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
 } */
/**
 * Hide text while making it readable for screen readers
 * 1. Needed in WebKit-based browsers because of an implementation bug;
 *    See: https://code.google.com/p/chromium/issues/detail?id=457146
 */
.hide-text {
  overflow: hidden;
  padding: 0;
  /* 1 */
  text-indent: 101%;
  white-space: nowrap; }

/**
 * Hide element while making it readable for screen readers
 * Shamelessly borrowed from HTML5Boilerplate:
 * https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css#L119-L133
 */
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/**
 * Basic typography style for copy text
 */
body {
  color: #3E4147;
  font-family: "Nunito", sans-serif;
  font-feature-settings: "liga" 1, "onum" 1;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.6; }

.heading-1, .heading-2, .heading-3, .heading-4 {
  color: #3E4147;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 1.2; }

.heading-1 {
  font-size: 5rem;
  margin-bottom: 0; }
  @media screen and (max-width: 50em) {
    .heading-1 {
      margin-bottom: 3.2rem; } }

.heading-2 {
  font-size: 4rem;
  margin-bottom: 2.4rem; }
  .heading-2--light {
    color: #f9f7f6; }
  .heading-2--darkt {
    color: #54483A; }

.heading-3 {
  font-size: 3rem;
  margin-bottom: 2.4rem; }

.heading-4 {
  font-size: 1.9rem; }
  .heading-4--light {
    color: #f9f7f6; }
  .heading-4--darkt {
    color: #54483A; }

/* Span */
.igap-red {
  color: #E23B30; }

.igap-black-bolt {
  color: #3E4147;
  font-weight: 700; }

figcaption {
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  font-weight: 700; }

/* Border */
hr {
  clear: both;
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  border-bottom: 2px solid #EAECEF; }

.quote--font-styling {
  color: #3E4147;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.6; }

.quote--color-icon {
  color: #bbbcbf; }

.quote {
  color: #3E4147;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.6; }

.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  margin-bottom: 3.2rem; }

.nav-toggle {
  font-size: 2.8rem;
  color: #3E4147;
  background: transparent;
  border-color: transparent;
  transition: all 0.3s linear;
  cursor: pointer; }
  .nav-toggle :hover {
    transform: rotate(90deg); }

.logo {
  height: 5rem; }

@media screen and (max-width: 50em) {
  .logo-desktop,
  .logo-name {
    display: none; } }

.links {
  list-style-type: none; }

.links a {
  color: #3E4147;
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  line-height: 1.6;
  letter-spacing: 0.2rem;
  display: block;
  padding: 0.5rem 1rem;
  transition: all 0.3s linear;
  text-transform: uppercase; }
  .links a:hover {
    color: #E23B30;
    text-decoration: none; }

/* BY DEFAULT HIDE LINKS */
.links {
  height: 0;
  overflow: hidden;
  transition: all 0.3s linear; }

/* TOGGLE CLASS */
.show-links {
  height: auto;
  margin-bottom: 2.4rem; }

@media screen and (min-width: 50em) {
  header,
  nav {
    display: contents; }
  .logo-desktop {
    grid-column: 1;
    grid-row: 1; }
  .logo {
    display: none; }
  .logo-name {
    color: #3E4147;
    font-family: "Roboto", sans-serif;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.6;
    grid-column: 2 / 4;
    grid-row: 1;
    align-self: center; }
  .nav-center {
    grid-column: 2 / -1;
    grid-row: 1;
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .nav-header {
    padding: 0; }
  .nav-toggle {
    display: none; }
  .links {
    /* IMPORTANT TO ADD */
    height: auto;
    display: flex; }
    .links :last-child {
      padding-right: 0; }
    .links a {
      padding-right: 2rem;
      padding-left: 2rem; }
    .links:hover {
      background: transparent; }
  .line-after-nav {
    grid-column: 1 / -1;
    grid-row: 2; } }

.footer {
  margin-top: 6.4rem;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.8), rgba(140, 141, 143, 0.8)), url("../img/background-image-jung-letter.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 6rem 4rem; }
  @media screen and (max-width: 50em) {
    .footer {
      margin-top: 6.4rem;
      margin-bottom: 6.4rem; } }
  .footer--item {
    background-color: #FFFFFF;
    opacity: 0.7;
    padding: 1rem;
    font-weight: 700;
    box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3); }
    .footer--item p {
      text-indent: 0rem; }
  .footer--left {
    margin-bottom: 3.2rem; }
  .footer--center {
    margin-bottom: 3.2rem; }
  .footer--right {
    margin-bottom: 3.2rem; }

@media screen and (min-width: 50em) {
  .footer {
    grid-column: 1 / -1;
    grid-row: 11;
    margin-top: 12.8rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2vw; }
    .footer---left {
      grid-column: 1; }
    .footer---center {
      grid-column: 2; }
    .footer---right {
      grid-column: 3; } }

a.btn--learn-more {
  color: #3E4147;
  cursor: pointer;
  background-color: #FFFFFF;
  border: 2px solid #3E4147;
  border-radius: 0;
  display: block;
  font-family: "Roboto", sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
  padding: 1rem 2rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: all .2s;
  width: 18rem; }
  a.btn--learn-more:hover {
    background-color: #E23B30;
    color: #FFFFFF;
    border: 1px solid #E23B30; }

main {
  grid-row: 5; }

.heading-home-1,
.heading-home-1 + p,
main {
  grid-column: 4 / 8; }

.heading-home-1 {
  grid-row: 2; }

.heading-home-1 + p {
  grid-row: 3;
  font-size: 2rem;
  font-weight: 700; }

main p:first-of-type::first-line {
  font-weight: 700; }

p:not(h1 + p) + p {
  text-indent: 2rem; }

.images-red-book {
  grid-column: 2 / -1;
  grid-row: 4;
  margin-top: 2.4rem;
  margin-bottom: 2.4rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr auto; }
  @media only screen and (max-width: 50em) {
    .images-red-book {
      margin-top: 3.2rem;
      margin-bottom: 3.2rem; } }

.irb1 {
  grid-column: 1;
  grid-row: 1; }

.irb2 {
  grid-column: 2;
  grid-row: 1; }

.irb3 {
  grid-column: 3;
  grid-row: 1; }

.irb4 {
  grid-column: 4;
  grid-row: 1; }

.irb {
  grid-column: 1 / -1;
  grid-row: 2;
  margin-top: 1.2rem; }

.seminars {
  grid-column: 3 / 5;
  grid-row: 6;
  margin-top: 2.4rem;
  margin-bottom: 2.4rem; }
  @media only screen and (max-width: 50em) {
    .seminars {
      margin-top: 3.2rem;
      margin-bottom: 6.4rem; } }

.analytic-training {
  grid-column: 5 / 7;
  grid-row: 6;
  margin-top: 2.4rem;
  margin-bottom: 2.4rem; }
  @media only screen and (max-width: 50em) {
    .analytic-training {
      margin-top: 3.2rem;
      margin-bottom: 6.4rem; } }

.finding-analyst {
  grid-column: 7 / -1;
  grid-row: 6;
  margin-top: 2.4rem;
  margin-bottom: 2.4rem; }
  @media only screen and (max-width: 50em) {
    .finding-analyst {
      margin-top: 3.2rem;
      margin-bottom: 6.4rem; } }

.line-after-6 {
  grid-column: 3 / -1;
  grid-row: 7; }

.breaking-news {
  grid-column: 1 / 2;
  grid-row: 8 / 10;
  /* align-self: end;  */ }
  @media only screen and (max-width: 50em) {
    .breaking-news {
      margin-top: 3.2rem;
      margin-bottom: 6.4rem; } }
  @media only screen and (max-width: 62.5em) {
    .breaking-news {
      grid-column: 1 / 3; } }

.video-jung {
  display: contents; }
  .video-jung__lede {
    grid-column: 4 / 6;
    grid-row: 8; }
    @media only screen and (max-width: 50em) {
      .video-jung__lede {
        margin-bottom: 3.2rem; } }
  .video-jung__file-1 {
    grid-column: 4 / 8;
    grid-row: 9;
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%; }
    @media only screen and (max-width: 50em) {
      .video-jung__file-1 {
        margin-bottom: 3.2rem; } }
    .video-jung__file-1 iframe {
      position: absolute;
      width: 100%;
      height: 100%; }
  .video-jung__file-2 {
    grid-column: 4 / 8;
    grid-row: 10;
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%; }
    .video-jung__file-2 iframe {
      position: absolute;
      width: 100%;
      height: 100%; }

.line-after-video {
  grid-column: 4 / 8;
  grid-row: 11; }

.quote-unconscious {
  grid-column: 1;
  grid-row: 10 / 11;
  align-self: end; }
  @media only screen and (max-width: 50em) {
    .quote-unconscious {
      margin-top: 6.4rem;
      margin-bottom: 3.2rem; } }
  @media only screen and (max-width: 62.5em) {
    .quote-unconscious {
      grid-column: 1 / 3;
      grid-row: 9 / 11;
      align-self: start; } }
  .quote-unconscious--color-icon {
    color: #bbbcbf; }

.line-after-nav {
  grid-column: 1 / -1;
  grid-row: 2; }

.find-ana__menu {
  grid-column: 1 / 5;
  grid-row: 5 / 11; }

.find-ana--headline-1 {
  grid-column: 1 / 5;
  grid-row: 3; }

.find-ana--lede {
  font-size: 2rem;
  font-weight: 700;
  grid-column: 1 / 5;
  grid-row: 4; }

.find-ana--asterisk-comment {
  grid-column: 7 / -1;
  grid-row: 6; }
  @media only screen and (max-width: 50em) {
    .find-ana--asterisk-comment {
      margin-bottom: 6.4rem; } }

.find-ana--quote-mandala {
  grid-column: 8;
  grid-row: 10; }

.find-ana__main-image {
  grid-column: 6 / -1;
  grid-row: 3 / 6; }
  @media only screen and (max-width: 50em) {
    .find-ana__main-image--figcaption {
      margin-bottom: 6.4rem; } }

.find-ana__menu--title {
  text-align: center; }

.find-ana__btn-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

@media only screen and (min-width: 50em) {
  .find-ana__section-center {
    display: grid;
    gap: 2vw;
    grid-template-columns: 1fr 1fr; } }

.filter-btn {
  color: #3E4147;
  cursor: pointer;
  background-color: #FFFFFF;
  border: 2px solid #3E4147;
  border-radius: 0;
  display: block;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 1rem 2rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: all .2s;
  /* width: 18rem; */
  margin: 1.5rem; }
  .filter-btn:hover {
    background-color: #E23B30;
    color: #FFFFFF;
    border: 1px solid #E23B30; }

.menu-item {
  display: grid;
  gap: 2vw;
  max-width: 25rem; }
  @media only screen and (max-width: 50em) {
    .menu-item {
      margin-top: 3.2rem;
      margin-bottom: 6.4rem; } }

.item-info h4 {
  font-size: 2rem;
  margin-bottom: 1.6rem;
  border-bottom: 2px solid #EAECEF; }

.item-text p {
  text-indent: 0; }
