// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

.footer {
    margin-top: $spacing-xx-large;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.8), rgba(140, 141, 143, 0.8)), url("../img/background-image-jung-letter.jpg");    
    background-repeat: no-repeat;
    background-size: cover;    
    padding: 6rem 4rem;    

    @media screen and (max-width: $bp-medium) {
        margin-top: $spacing-x-large;
        margin-bottom: $spacing-x-large;
    }  

    &--item {
        background-color: $color-white;
        opacity: 0.7;
        padding: 1rem;
        font-weight: $font-weight-bold;
        box-shadow: $shadow-dark;
        
        p {
            text-indent: 0rem; 
        }
    }
    
    &--left {
        margin-bottom: $spacing-large; 
    }
    
    &--center {
        margin-bottom: $spacing-large; 
    }
    
    &--right {
        margin-bottom: $spacing-large; 
    }    
}



@media screen and (min-width: $bp-medium) {
    .footer {
        grid-column: 1 / -1;
        grid-row: 11; 
        margin-top: $spacing-xx-large;   
        
        display: grid;    
        grid-template-columns: repeat(3, 1fr); 
        gap: $grid-gap;        
        
        &---left {
            grid-column: 1;    
        }
        
        &---center {
            grid-column: 2;    
        }
        
        &---right {
            grid-column: 3;
        }    
    }
}



