// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

header {
    display: contents;
}


.banner {
    grid-column: 1 / -1;
    grid-row: 1;

    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: center;

    &__contact {
        font-family: $font-secondary;
        font-size: $font-size-x-large;
        text-align: right;
        color: $color-dark;

        a:link,
        a:visited {
            color: $color-dark;
        }

        a:hover,
        a:active {
            color: $color-primary-red;
            text-decoration: none;
        }
    }
}


// Main Menu
.main-menu {
    grid-column: 1 / 2;
    grid-row: 2;

    ul {
        list-style: none;
    }
}

