// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.btn {    
    background-color: $p-color-accent;
    color: $p-color-light;    
    border: none;
    border-radius: 0;
    font-family: $font-secondary;
    font-size: 1.8rem;
    text-transform: uppercase;
    padding: 1.5rem 2.5rem;
    cursor: pointer;
    transition: all .2s;    

    &:hover {
        background-color: $p-color-accent-light;
    }
}