// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}


html {    
    font-size: 62.5%; // 10px/16px = 62.5% -> 1 rem = 10px

    @media only screen and (max-width: $bp-largest) {
        font-size: 50%;
    }
}


body {
    box-sizing: border-box;     
    background-color: $color-white;    
    margin: 4rem auto;
    width: 90%;    
    max-width: $max-width; 
    
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 2fr 2fr 1fr 1fr 2fr;     
    gap: $grid-gap;    
    align-content: start; 

    /* @media only screen and (max-width: $bp-largest) {
        margin: 0;
        max-width: 100%;
        width: 100%;
    } */

    /* background-image: linear-gradient(
        to right bottom,
        rgba($color-grey, 0.8),
        rgba($color-dark, 0.8)),
    url(../img/background-image-jung-letter.jpg);
    background-size: cover;
    background-repeat: no-repeat; */    
}


img {
    margin: 0;
    border-width: 0;
    max-width: 100%;
    vertical-align: top;   
}


/**
 * Basic styles for links
 */

a:link,
a:visited {
    color: $color-primary-red; 
    text-decoration: none;
    font-weight: 700;
}

a:hover,
a:active {
    color: $color-primary-red;
    text-decoration: underline;
    font-weight: 700;
}
