/**
 * Basic typography style for copy text
 */

body {
  color: $color-dark;
  font-family: $font-primary;
  font-feature-settings: "liga" 1, "onum" 1;    
  font-size: $font-size;  
  font-weight: $font-weight;
  line-height: $lineheight-text;    
}

%heading {
  color: $color-dark;  
  font-family: $font-secondary;
  font-weight: $font-weight-bold;
  letter-spacing: 0.5px;
  line-height: 1.2;
}

.heading-1 {
  @extend %heading;
  font-size: 5rem;  
  margin-bottom: 0;

  @media screen and (max-width: $bp-medium) {
    margin-bottom: $spacing-large;
  }  
}

.heading-2 {
  @extend %heading;
  font-size: 4rem;    
  margin-bottom: $spacing-medium;

  &--light {color: $color-grey; }
  &--darkt {color: $color-grey-xx; }
}

.heading-3 {
  @extend %heading;
  font-size: 3rem;
  margin-bottom: $spacing-medium;
}

.heading-4 {
  @extend %heading;
  font-size: 1.9rem;

  &--light {color: $color-grey; }
  &--darkt {color: $color-grey-xx; }
}

/* Span */
.igap-red {
  color: $color-primary-red;
}

.igap-black-bolt {
  color: $color-dark;
  font-weight: $font-weight-bold;
}

figcaption {
  font-family: $font-secondary;
  font-size: $font-size-small;
  font-weight: $font-weight-bold;
}


/* Border */
hr {  
  clear: both;
  display: block;
  margin: 0;
  padding: 0;  
  border: 0;  
  border-bottom: $border-width-thick solid $color-grey;
}


// Quote
.quote {

  &--font-styling {
    color: $color-dark;
    font-family: $font-secondary;
    font-style: italic;    
    font-size: $font-size-medium;  
    font-weight: $font-weight;
    line-height: $lineheight-text;
  }  

  &--color-icon {
      color: $color-grey-x;
  }
}


// Italic
.quote {  
    color: $color-dark;
    font-family: $font-secondary;
    font-style: italic;    
    font-size: $font-size;  
    font-weight: $font-weight;
    line-height: $lineheight-text;
}  
