/**
 * Basic typography style for copy text
 */

body {
  color: $color-dark;
  font-family: $font-primary;
  font-feature-settings: "liga" 1, "onum" 1;    
  font-size: $font-size;  
  font-weight: $font-weight;
  line-height: $lineheight-text;    
}

%heading {
  color: $color-dark;  
  font-family: $font-secondary;
  font-weight: $font-weight-bold;
  letter-spacing: 0.5px;
  line-height: 1.2;
}

.heading-1 {
  @extend %heading;
  font-size: 5rem;    
  margin-top: -1rem;
  margin-bottom: 0;
}

.heading-2 {
  @extend %heading;
  font-size: 4rem;    
  margin-bottom: $spacing-medium;

  &--light {color: $color-grey-light-1; }
  &--darkt {color: $color-grey-dark-1; }
}

.heading-3 {
  @extend %heading;
  font-size: 3rem;
  margin-bottom: $spacing-medium;
}

.heading-4 {
  @extend %heading;
  font-size: 1.9rem;

  &--light {color: $color-grey-light-1; }
  &--darkt {color: $color-grey-dark-1; }
}

/* Span */
.igap-red {
  color: $color-primary-red;
}

figcaption {
  font-family: $font-secondary;
  font-size: $font-size-small;
  font-weight: $font-weight-bold;
}


/* Border */
hr {  
  clear: both;
  display: block;
  margin: 0;
  padding: 0;  
  border: 0;  
  border-bottom: $border-width-thick solid $color-grey;
}
